<div class="w-full h-screen bg-black-10">
  <app-button-hero class="ml-10 mb-10"></app-button-hero>
  <div class="bg-black">
    <app-stepper class="ml-10"></app-stepper>
  </div>

  <div class="flex">
    <div>
      <app-button class="ml-10 mb-10" [buttonType]="'primary'"></app-button>
      <app-button class="ml-10 mb-10" [iconName]="Icon.Menu" [buttonType]="'primary'"></app-button>
      <app-button class="ml-10 mb-10" [buttonType]="'primary'" [disabled]="true"></app-button>
    </div>
    <div>
      <app-button class="ml-10 mb-10" [buttonType]="'secondary'"></app-button>
      <app-button class="ml-10 mb-10" [iconName]="Icon.Menu" [buttonType]="'secondary'"></app-button>
      <app-button class="ml-10 mb-10" [buttonType]="'secondary'" [disabled]="true"></app-button>
    </div>
    <div>
      <app-button class="ml-10 mb-10" [buttonType]="'ghost'"></app-button>
      <app-button class="ml-10 mb-10" [iconName]="Icon.Menu" [buttonType]="'ghost'"></app-button>
      <app-button class="ml-10 mb-10" [buttonType]="'ghost'" [disabled]="true"></app-button>
    </div>
    <div>
      <app-button class="ml-10 mb-10" [buttonType]="'text'"></app-button>
      <app-button class="ml-10 mb-10" [buttonType]="'text'" [disabled]="true"></app-button>
    </div>
  </div>


  <app-select class="w-[343px] ml-10 mb-10"></app-select>
  <app-checkbox class="ml-10 mb-10"></app-checkbox>
  <app-input class="w-[343px] ml-10 mb-10"></app-input>

  <app-date-picker></app-date-picker>
</div>
