<footer class="pt-20 pb-[7.5rem] bg-black">
  <div class="container">
    <div class="flex justify-between mb-20">
      <div>
        <img class="w-[12.25rem] h-[4.5rem] mb-10" src="./assets/images/desktop/logo.png" alt="" />
        <div class="flex items-center gap-4">
          <div class="flex items-center justify-center w-10 h-10 border border-solid border-white rounded-full">
            <span class="icon-ic_line text-white"></span>
          </div>
          <div class="flex items-center justify-center w-10 h-10 border border-solid border-white rounded-full">
            <span class="icon-ic_instagram text-white"></span>
          </div>
        </div>
      </div>

      <div class="flex gap-20 justify-between text-white">
        <div class="flex flex-col gap-10">
          <div>
            <p class="font-bold mb-2">TEL</p>
            <p>+886-7-1234567</p>
          </div>
          <div>
            <p class="font-bold mb-2">FAX</p>
            <p>+886-7-1234567</p>
          </div>
        </div>
        <div class="flex flex-col gap-10">
          <div>
            <p class="font-bold mb-2">MAIL</p>
            <p>elh&#64;hexschool.com</p>
          </div>
          <div>
            <p class="font-bold mb-2">WEB</p>
            <p>www.elhhexschool.com.tw</p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-between text-white">
      <p>806023 台灣高雄市新興區六角路123號</p>
      <p>&copy; 享樂酒店 2023 All Rights Reserved.</p>
    </div>
  </div>
</footer>
