<div class="flex items-center gap-2 p-4 w-[21.5rem]">
  <div class="text-base font-bold text-white">
    <div class="mx-auto flex items-center justify-center w-8 h-8 text-center bg-primary-base rounded-full mb-1">
      <p>1</p>
    </div>
    <p>Title</p>
  </div>
  <div class="w-full h-[2px] bg-black-40 rounded-[0.625rem]"></div>
  <div class="text-base font-bold text-white">
    <div class="mx-auto flex items-center justify-center w-8 h-8 text-center bg-primary-base rounded-full mb-1">
      <p>2</p>
    </div>
    <p>Title</p>
  </div>
  <div class="w-full h-[2px] bg-black-60 rounded-[0.625rem]"></div>
  <div class="text-base font-bold text-black-60">
    <div class="mx-auto flex items-center justify-center w-8 h-8 text-center bg-transparent border border-solid border-black-60 rounded-full mb-1">
      <span class="icon-ic_check"></span>
    </div>
    <p>Title</p>
  </div>
</div>
