<div class="flex items-center gap-2 p-4 w-full">
  @for (step of stepArray; track step.step; let last = $last) {
    <div class="flex-shrink-0 text-base font-bold ">
      <div [class]="step.step === currentStep || step.completed ? 'step step_active':'step'">
        @if(!step.completed){
          <p>{{step.step}}</p>
        } @else {
          <span class="icon-ic_check"></span>
        }
      </div>
      <p [class]=" step.step === currentStep || step.completed ? 'text-white':'text-black-60'">{{step.stepDesc}}</p>
    </div>
    @if (!last) {<div [class]="stepArray[stepArray.length - 2].completed ? 'line line_active':'line'"></div>}
  }
</div>
