<div class="w-full h-full p-4 bg-white rounded-lg border border-solid border-black flex justify-start items-center gap-4 cursor-pointer hover:border-primary-base">
  <div class="flex-1 h-10 flex justify-start items-center">
    <div class="flex-1 flex flex-col justify-center items-start">
      <div class="text-xs font-medium text-black font-serif leading-6 tracking-[0.24px] break-words">{{title}}</div>
      @if(!!date){
        <div class="text-base font-medium text-black leading-6 tracking-[0.32px] break-words">{{ date | date:'yyyy / MM / dd' }}</div>
      }@else {
        <span class="text-gray-500"> {{placeholder}} </span>
      }
    </div>
  </div>
</div>
