<div *ngIf="roomDetail$ | async as room">
  <div class="py-[12.5rem] bg-primary-tint">
    <div class="container">
      <div class="flex items-center gap-2 mb-10">
        <span class="icon-ic_left"></span>
        <h3>確認訂房資訊</h3>
      </div>
      <div class="flex justify-between gap-6 relative">
        <div class="w-[46.625rem]">
          <div class="flex flex-col gap-6">
            <h3 class="mb-10">訂房資訊</h3>
            <div class="flex flex-col gap-6">
              <div class="flex justify-between items-center gap-4">
                <div>
                  <div class="flex gap-3 items-center mb-2">
                    <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
                    <p class="text-title">選擇房型</p>
                  </div>
                  <p>{{room.name}}</p>
                </div>
                <app-button class="text-black" [buttonType]="'text'" (clickEvent)="routerPage('/rooms')">編輯</app-button>
              </div>
              <div class="flex justify-between items-center gap-4">
                <div>
                  <div class="flex gap-3 items-center mb-2">
                    <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
                    <p class="text-title">訂房日期</p>
                  </div>
                  <p class="mb-2">入住：{{checkInFormatDate}}</p>
                  <p>退房：{{checkOutFormatDate}}</p>
                </div>
                <app-button class="text-black" [buttonType]="'text'" (clickEvent)="routerPage('/rooms',roomId)">編輯</app-button>
              </div>
              <div class="flex justify-between items-center gap-4">
                <div>
                  <div class="flex gap-3 items-center mb-2">
                    <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
                    <p class="text-title">房客人數</p>
                  </div>
                  <p>{{this.queryParam.peopleNum}} 人</p>
                </div>
                <app-button class="text-black" [buttonType]="'text'" (clickEvent)="routerPage('/rooms',roomId)">編輯</app-button>
              </div>
            </div>
          </div>
          <app-divider class="my-[2.9375rem]"></app-divider>
          <div [formGroup]="formGroup">
            <div class="flex justify-between items-center mb-10">
              <h4>訂房人資訊</h4>
              <app-button class="text-primary-base" [buttonType]="'text'" (clickEvent)="applyUserInfo()">套用會員資料</app-button>
            </div>
            <div class="flex flex-col gap-6">
              <app-input class="text-black" [formGroup]="formGroup" [name]="'name'" formControlName="name" [title]="'姓名'" [placeholder]="'請輸入姓名'"></app-input>
              <app-input class="text-black" [formGroup]="formGroup" [name]="'phone'" formControlName="phone"  [title]="'手機號碼'" [placeholder]="'請輸入手機號碼'"></app-input>
              <app-input class="text-black" [formGroup]="formGroup" [name]="'email'" formControlName="email"  [title]="'電子信箱'" [placeholder]="'請輸入電子信箱'"></app-input>
            </div>
            <div [formGroup]="formGroup.controls.address">
              <p class="text-white font-bold mb-2">地址</p>
              <div class="flex gap-2 mb-4">
                <app-select [options]="cityList" [formGroup]="formGroup.controls.address" [name]="'city'" formControlName="city" class="w-1/2"></app-select>
                <app-select [options]="regionList" [formGroup]="formGroup.controls.address" [name]="'zipcode'" formControlName="zipcode" class="w-1/2"></app-select>
              </div>
              <app-input [formGroup]="formGroup.controls.address" [name]="'detail'" formControlName="detail" class="text-white" [placeholder]="'請輸入詳細地址'"></app-input>
            </div>
          </div>
          <app-divider class="my-[2.9375rem]"></app-divider>
          <h4 class="mb-10">房間資訊</h4>
          <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-6">
              <div class="flex gap-3 items-center">
                <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
                <h5>房型基本資訊</h5>
              </div>
              <div class="flex items-center gap-4">
                <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] bg-white rounded-lg">
                  <span class="icon-ic_size text-primary-base"></span>
                  <p class="text-title">{{room.areaInfo}}</p>
                </div>
                <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] bg-white rounded-lg">
                  <span class="icon-ic_bed text-primary-base"></span>
                  <p class="text-title">{{room.bedInfo}}</p>
                </div>
                <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] bg-white rounded-lg">
                  <span class="icon-ic_person text-primary-base"></span>
                  <p class="text-title">2-{{room.maxPeople}} 人</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-6">
              <div class="flex gap-3 items-center">
                <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
                <h5>房間格局</h5>
              </div>
              <div class="w-full p-6 bg-white rounded-lg">
                <div class="w-[34.375rem] flex flex-wrap items-center gap-10">
                  @for(layout of room.layoutInfo;track $index){
                    @if(layout.isProvide){
                      <div class="flex items-center gap-2">
                        <span class="icon-ic_check text-primary-base"></span>
                        <p>{{layout.title}}</p>
                      </div>
                    }
                  }
                </div>
              </div>
            </div>

            <div class="flex flex-col gap-6">
              <div class="flex gap-3 items-center">
                <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
                <h5>房內設備</h5>
              </div>
              <div class="w-full p-6 bg-white rounded-lg">
                <div class="w-[40.625rem] flex flex-wrap gap-y-2 items-center gap-10">
                  @for(facility of room.facilityInfo;track $index){
                    @if(facility.isProvide){
                      <div class="flex items-center gap-2 min-w-[6.125rem]">
                        <span class="icon-ic_check text-primary-base"></span>
                        <p>{{facility.title}}</p>
                      </div>
                    }
                  }
                </div>
              </div>
            </div>

            <div class="flex flex-col gap-6">
              <div class="flex gap-3 items-center">
                <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
                <h5>備品提供</h5>
              </div>
              <div class="w-full p-6 bg-white rounded-lg">
                <div class="w-[40.625rem] flex flex-wrap gap-y-2 items-center gap-10">
                  @for(amenity of room.amenityInfo;track $index){
                    @if(amenity.isProvide){
                      <div class="flex items-center gap-2 min-w-[6.125rem]">
                        <span class="icon-ic_check text-primary-base"></span>
                        <p>{{amenity.title}}</p>
                      </div>
                    }
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="sticky flex flex-col gap-10 top-[2.5rem] w-[29.875rem] h-[42.375rem] bg-white rounded-[1.25rem] p-10 shadow-md"
        >
          <img class="h-[17rem] rounded-lg" [src]="room.imageUrl" alt="" />
          <div class="flex flex-col gap-6">
            <h4>價格詳情</h4>
            <div>
              <div class="flex justify-between items-center mb-3">
                <div class="flex items-center gap-2">
                  <p>NT$ {{room.price | number: '1.0-0'}}</p>
                  <div class="flex items-center gap-1">
                    <span class="icon-ic_close icon-size-sm"></span>
                    <p>{{totalDate()}} 晚</p>
                  </div>
                </div>
                <p>NT$ {{room.price * (totalDate() || 1) | number: '1.0-0'}}</p>
              </div>
              <div class="flex justify-between items-center">
                <p>住宿折扣</p>
                <p class="text-primary-base">-NT$ 1,000</p>
              </div>
              <app-divider class="my-6"></app-divider>
              <div class="flex justify-between items-center">
                <p class="text-title">總價</p>
                <p class="text-title">NT$ {{room.price * (totalDate() || 1) - 1000 | number: '1.0-0'}}</p>
              </div>
            </div>
          </div>
          <app-button [disabled]="formGroup.invalid" (clickEvent)="Order()">確認訂房</app-button>
        </div>
      </div>
    </div>
  </div>
</div>
