<div class="text-white bg-black pt-[7.5rem] pb-[16.75rem] relative">
  <img class="absolute bottom-0" src="/assets/images/desktop/line2.png" alt="" />
  <div class="container">
    <div class="pt-[7.5rem] flex gap-[4.5rem]">
      <div class="w-[46.625rem]">
        <div class="flex items-center gap-10 mb-10">
          <span class="icon-ic_check icon-size-md p-2 bg-success-base rounded-full"></span>
          <h1>恭喜，Jessica！<br />您已預訂成功</h1>
        </div>
        <p>我們已發送訂房資訊及詳細內容至你的電子信箱，入住時需向櫃檯人員出示訂房人證件。</p>
        <app-divider class="my-20"></app-divider>
        <div>
          <h5 class="mb-10">立即查看您的訂單紀錄</h5>
          <app-button class="w-[13.625rem]">前往我的訂單</app-button>
        </div>
        <app-divider class="my-20"></app-divider>
        <h5 class="mb-10">訂房人資訊</h5>
        <div class="flex flex-col gap-6">
          <div>
            <p class="mb-2">姓名</p>
            <p class="text-title">Jessica Ｗang</p>
          </div>
          <div>
            <p class="mb-2">手機號碼</p>
            <p class="text-title">+886 912 345 678</p>
          </div>
          <div>
            <p class="mb-2">電子信箱</p>
            <p class="text-title">jessica&#64;sample.com</p>
          </div>
        </div>
      </div>
      <div class="w-[29.875rem] flex flex-col gap-10 text-black bg-white p-10 rounded-[1.25rem]">
        <div>
          <p class="text-black-80 mb-2">預訂參考編號： HH2302183151222</p>
          <h5>即將來的行程</h5>
        </div>
        <img class="h-60 rounded-lg" src="/assets/images/desktop/room2-1.png" alt="" />
        <div>
          <div class="flex items-center gap-4 text-black-60 mb-6">
            <h6>尊爵雙人房，1 晚</h6>
            <div class="h-[1.125rem] border border-solid border-black-60 rounded-[0.625rem]"></div>
            <h6>住宿人數：2 位</h6>
          </div>
          <div class="mb-6">
            <div class="flex items-center gap-3 mb-2">
              <div class="w-1 h-6 bg-primary-base border border-solid border-primary-base rounded-[0.625rem]"></div>
              <p class="text-title">入住：6 月 10 日星期二，15:00 可入住</p>
            </div>
            <div class="flex items-center gap-3">
              <div class="w-1 h-6 bg-black-60 border border-solid border-black-60 rounded-[0.625rem]"></div>
              <p class="text-title">退房：6 月 11 日星期三，12:00 前退房</p>
            </div>
          </div>
          <p class="text-title">NT$ 10,000</p>
        </div>
        <app-divider></app-divider>
        <div>
          <div class="flex items-center gap-3 mb-6">
            <div class="w-1 h-6 bg-primary-base border border-solid border-primary-base rounded-[0.625rem]"></div>
            <p class="text-title">房內設備</p>
          </div>
          <div
            class="w-full flex justify-center p-[10px] border border-solid border-black-40 rounded-lg bg-white rounded-lg"
          >
            <div class="w-[24.375rem] flex flex-wrap gap-y-2 items-center gap-10">
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>電視</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>吹風機</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>熱水壺</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>衣櫃</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>除濕機</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>書桌</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>冰箱</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>浴缸</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>檯燈</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>音響</p>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="flex items-center gap-3 mb-6">
            <div class="w-1 h-6 bg-primary-base border border-solid border-primary-base rounded-[0.625rem]"></div>
            <p class="text-title">備品提供</p>
          </div>
          <div
            class="w-full flex justify-center p-[10px] border border-solid border-black-40 rounded-lg bg-white rounded-lg"
          >
            <div class="w-[24.375rem] flex flex-wrap gap-y-2 items-center gap-10">
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>衛生紙</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>沐浴用品</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>刮鬍刀</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>吊衣架</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>刷牙用品</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>梳子</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>拖鞋</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>清潔用品</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>罐裝水</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>浴巾</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
