<section>
  <div class="banner bg-[url('./assets/images/desktop/banner.png')] bg-cover flex items-center">
    <div class="w-full px-20 relative z-10">
      <div class="flex justify-between items-center">
        <div class="w-[500px] lineargradient-border pb-10">
          <h1 class="text-[2.5rem] text-primary-base leading-[3rem] tracking-[2px] font-bold mb-2">享樂酒店</h1>
          <p class="text-2xl text-primary-base font-bold leading-[28.8px] tracking-[1.2px]">Enjoyment Luxury Hotel</p>
        </div>
        <div class="w-[924px] h-[678px]">
          <div
            class="flex justify-start items-center w-full h-full bg-gradient-to-b from-transparent to-[rgba(255,255,255,0.3)] rounded-[80px] border-t border-r border-solid border-[#F5F7F9] backdrop-blur-[20px]"
          >
            <div class="relative left-[-50px]">
              <div class="mb-[3.75rem]">
                <h1 class="text-white text-[6.25rem] mb-6">
                  高雄
                  <br />
                  豪華住宿之選
                </h1>
                <p class="text-black-40 text-[2rem] leading-[1.2] font-semibold">
                  我們致力於為您提供無與倫比的奢華體驗與優質服務
                </p>
              </div>
              <app-button-hero (click)="routerPage()">立即訂房</app-button-hero>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-[#F7F2EE]">
  <div class="container relative py-[7.5rem] flex justify-between">
    <div class="w-[8.75rem] h-40 pb-10 lineargradient-border">
      <p class="text-5xl leading-[1.2] font-bold text-primary-base">最新<br />消息</p>
    </div>
    <div class="w-[67.25rem] flex flex-col gap-10 relative">
      <img
        class="w-[12.5rem] h-[12.5rem] absolute top-[-1.25rem] right-[-8.25rem]"
        src="./assets/images/desktop/dot.png"
        alt=""
      />
      <div class="flex justify-between items-center gap-6">
        <img
          class="w-[29.625rem] h-[18.375rem] rounded-lg"
          src="./assets/images/desktop/news1.png"
          alt="news picture 1"
        />
        <div class="py-20">
          <h3 class="mb-6">秋季旅遊，豪華享受方案</h3>
          <p>
            秋天就是要來場豪華的旅遊！我們為您準備了一系列的秋季特別方案，包括舒適的住宿、美食饗宴，以及精彩的活動。不論您是想來一趟浪漫之旅，還是想和家人共度美好時光，都能在這裡找到最適合的方案。
          </p>
        </div>
      </div>
      <div class="flex justify-between items-center gap-6">
        <img
          class="w-[29.625rem] h-[18.375rem] rounded-lg"
          src="./assets/images/desktop/news2.png"
          alt="news picture 2"
        />
        <div class="py-20">
          <h3 class="mb-6">輕鬆住房專案</h3>
          <p>
            我們知道，有時候您只是需要一個舒適的地方放鬆心情。因此，我們推出了「輕鬆住房專案」，讓您無壓力地享受住宿。不管是短期的休息，還是長期的住宿，我們都會以最貼心的服務，讓您感到賓至如歸。
          </p>
        </div>
      </div>
      <div class="flex justify-between items-center gap-6">
        <img
          class="w-[29.625rem] h-[18.375rem] rounded-lg"
          src="./assets/images/desktop/news3.png"
          alt="news picture 3"
        />
        <div class="py-20">
          <h3 class="mb-6">耶誕快樂，住房送禮</h3>
          <p>
            聖誕節來臨，我們為您準備了特別的禮物！在聖誕期間訂房，不僅有特別優惠，還會送上我們精心準備的聖誕禮物。讓我們一起慶祝這個溫馨的節日吧！
          </p>
        </div>
      </div>
    </div>
    <img class="w-[12.5rem] h-[12.5rem] absolute bottom-[-5rem] left-0" src="./assets/images/desktop/dot.png" alt="" />
  </div>
</section>
<section>
  <div class="py-[7.5rem] bg-black">
    <div class="about flex items-center bg-[url('./assets/images/desktop/about.png')]">
      <div class="contianer mx-auto relative top-20">
        <div class="w-[75rem] flex justify-end">
          <div
            class="w-[65.25rem] p-20 bg-gradient-to-b from-[#140F0A80] to-[#BE9C7C80] rounded-t-[5rem] rounded-b-[5rem] rounded-br-none border-l border-b border-white backdrop-blur-[20px]"
          >
            <div class="w-[19rem] flex justify-between items-center gap-[2.5rem] mb-20">
              <p class="text-[3rem] leading-[1.2] text-white font-bold">關於<br />我們</p>
              <div class="w-[10.375rem] border border-white border-solid"></div>
            </div>
            <div class="text-white">
              <div class="mb-10">
                <p>享樂酒店，位於美麗島高雄的心臟地帶，是這座城市的璀璨瑰寶與傲人地標。</p>
                <p>我們的存在，不僅僅是為了提供奢華的住宿體驗，更是為了將高雄的美麗與活力，獻給每一位蒞臨的旅客。</p>
              </div>
              <div class="mb-10">
                <p>我們的酒店，擁有時尚典雅的裝潢，每一個細節都充滿著藝術與設計的精緻。</p>
                <p>我們的員工，都以熱情的服務與專業的態度，讓每一位客人都能感受到賓至如歸的溫暖。</p>
              </div>
              <p class="mb-10">
                在這裡，您可以遙望窗外，欣賞高雄的城市景色，感受這座城市的繁華與活力；您也可以舒適地坐在我們的餐廳，品嚐精緻的佳餚，體驗無與倫比的味覺盛宴。
              </p>
              <p>
                享樂酒店，不僅是您在高雄的住宿之選，更是您感受高雄魅力的最佳舞台。我們期待著您的蒞臨，讓我們共同編織一段難忘的高雄故事。
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-black">
  <div class="py-[7.5rem] relative">
    <img
      class="w-[66.25rem] h-[187px] absolute top-[180px] right-0 z-10"
      src="./assets/images/desktop/line2.png"
      alt=""
    />
    <div class="room flex items-end gap-20 relative z-[5]">
      <img class="w-[900px] h-[900px] rounded-tr-lg rounded-br-lg" src="./assets/images/desktop/room1.png" alt="" />
      <div class="w-[39.25rem] text-white">
        <div class="mb-10">
          <h2 class="mb-4">尊爵雙人房</h2>
          <p>享受高級的住宿體驗，尊爵雙人房提供給您舒適寬敞的空間和精緻的裝潢。</p>
        </div>
        <h3 class="mb-10">NT$ 10,000</h3>
        <app-button-hero class="w-full text-black mb-10">查看更多</app-button-hero>
        <div class="text-primary-base flex justify-end text-right">
          <app-button class="text-white" [buttonType]="'ghost'" [rightIcon]="'arrow_left'"></app-button>
          <app-button class="text-white" [buttonType]="'ghost'" [rightIcon]="'arrow_right'"></app-button>
        </div>
      </div>
    </div>
    <img class="absolute bottom-[120px] right-0" src="./assets/images/desktop/bg.png" alt="" />
  </div>
</section>
<section class="bg-[#F7F2EE] py-[7.5rem] relative">
  <img class="w-[11.75rem] h-[66.75rem] absolute top-[3.5rem] left-0" src="./assets/images/desktop/line.png" alt="" />
  <img
    class="w-[12.5rem] h-[12.5rem] absolute top-[-2.5rem] right-[5rem]"
    src="./assets/images/desktop/dot.png"
    alt=""
  />
  <div class="container">
    <div class="flex items-center gap-10 mb-20">
      <p class="text-primary-base font-bold text-[3rem] leading-[1.2]">佳餚<br />美饌</p>
      <div class="w-[10.5rem] lineargradient-border"></div>
    </div>
    <div class="flex gap-6">
      <div class="w-[26rem] h-[37.5rem] rounded-lg overflow-hidden relative">
        <img src="./assets/images/desktop/food1.png" alt="" />
        <div
          class="w-full min-h-[12.375rem] p-6 text-white absolute bottom-0 left-0 bg-gradient-to-b from-[#ffffff00] to-[#140F0A] backdrop-blur-[10px]"
        >
          <div class="flex gap-2 justify-between items-center mb-6">
            <h5>海霸</h5>
            <div class="flex gap-4 items-center">
              <p class="text-title">SUN-MON</p>
              <p class="text-title">11:00 - 20:30</p>
            </div>
          </div>
          <p class="tracking-[0.32px]">
            以新鮮海產料理聞名，我們的專業廚師選用高雄當地的海鮮，每一道菜都充滿海洋的鮮美與清甜。無論是烤魚、蒸蝦還是煮蛤蜊，都能讓您品嚐到最新鮮的海洋風味。
          </p>
        </div>
      </div>
      <div class="w-[26rem] h-[37.5rem] rounded-lg overflow-hidden relative">
        <img src="./assets/images/desktop/food2.png" alt="" />
        <div
          class="w-full min-h-[12.375rem] p-6 text-white absolute bottom-0 left-0 bg-gradient-to-b from-[#ffffff00] to-[#140F0A] backdrop-blur-[10px]"
        >
          <div class="flex gap-2 justify-between items-center mb-6">
            <h5>日食</h5>
            <div class="flex gap-4 items-center">
              <p class="text-title">SUN-MON</p>
              <p class="text-title">17:00 - 22:00</p>
            </div>
          </div>
          <p class="tracking-[0.32px]">
            為您提供優質的牛排，每一塊肉都來自頂級的牛肉，經過專業廚師的巧手烹調，口感豐滿、風味絕佳。搭配我們的特製醬料，讓您的味蕾享受一場美味的盛宴。
          </p>
        </div>
      </div>
      <div class="w-[26rem] h-[37.5rem] rounded-lg overflow-hidden relative">
        <img src="./assets/images/desktop/food3.png" alt="" />
        <div
          class="w-full min-h-[12.375rem] p-6 text-white absolute bottom-0 left-0 bg-gradient-to-b from-[#ffffff00] to-[#140F0A] backdrop-blur-[10px]"
        >
          <div class="flex gap-2 justify-between items-center mb-6">
            <h5>山臻</h5>
            <div class="flex gap-4 items-center">
              <p class="text-title">SUN-MON</p>
              <p class="text-title">11:30 - 20:30</p>
            </div>
          </div>
          <p class="tracking-[0.32px]">
            帶您進入一次辣味與鮮香兼具的川菜美食之旅。我們的廚師掌握正宗的川菜烹調技巧，從麻辣鍋到口水雞，每一道菜都有其獨特的風味，讓您回味無窮。
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-black pt-[7.5rem] pb-[16.75rem] relative">
  <img class="absolute bottom-0" src="./assets/images/desktop/line2.png" alt="" />
  <div class="container">
    <div class="flex items-center gap-10 mb-20">
      <p class="text-primary-base font-bold text-[3rem] leading-[1.2]">交通<br />方式</p>
      <div class="w-[10.5rem] lineargradient-border"></div>
    </div>
    <div class="mb-10">
      <p class="text-white mb-4 text-title">台灣高雄市新興區六角路123號</p>
      <img src="./assets/images/desktop/map.png" alt="" />
    </div>
    <div class="flex gap-6 items-center">
      <div class="w-1/3 text-white">
        <span class="inline-block icon-ic_car text-primary-base icon-size-lg mb-4"></span>
        <h5 class="mb-2">自行開車</h5>
        <p class="tracking-[0.32px]">
          如果您選擇自行開車，可以透過國道一號下高雄交流道，往市區方向行駛，並依路標指示即可抵達「享樂酒店」。飯店內設有停車場，讓您停車方便。
        </p>
      </div>
      <div class="w-1/3 text-white">
        <span class="inline-block icon-ic_train text-primary-base icon-size-lg mb-4"></span>
        <h5 class="mb-2">高鐵/火車</h5>
        <p class="tracking-[0.32px]">
          如果您是搭乘高鐵或火車，可於左營站下車，外頭有計程車站，搭乘計程車約20分鐘即可抵達。或者您也可以轉乘捷運紅線至中央公園站下車，步行約10分鐘便可抵達。
        </p>
      </div>
      <div class="w-1/3 text-white">
        <span class="inline-block icon-ic_luxurycar text-primary-base icon-size-lg mb-4"></span>
        <h5 class="mb-2">禮賓車服務</h5>
        <p class="tracking-[0.32px]">
          承億酒店提供禮賓專車接送服務，但因目的地遠近會有不同的收費，請撥打電話將由專人為您服務洽詢專線：(07)123-4567
        </p>
      </div>
    </div>
  </div>
</section>
