<div class="py-[12.5rem] bg-primary-tint">
  <div class="flex items-center gap-2 mx-20 mb-[7.5rem] rounded-[1.25rem] overflow-hidden">
    <div class="w-1/2">
      <img src="./assets/images/desktop/room2-1.png" alt="" />
    </div>
    <div class="w-1/2">
      <div class="flex flex-col gap-2">
        <div class="flex gap-2">
          <img class="w-1/2" src="./assets/images/desktop/room2-2.png" alt="" />
          <img class="w-1/2" src="./assets/images/desktop/room2-3.png" alt="" />
        </div>
        <div class="flex gap-2">
          <img class="w-1/2" src="./assets/images/desktop/room2-4.png" alt="" />
          <img class="w-1/2" src="./assets/images/desktop/room2-5.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="flex justify-between gap-6 relative">
      <div class="w-[46.625rem] flex flex-col gap-20">
        <div>
          <h1 class="mb-4">尊爵雙人房</h1>
          <p>享受高級的住宿體驗，尊爵雙人房提供給您舒適寬敞的空間和精緻的裝潢。</p>
        </div>
        <div class="flex flex-col gap-6">
          <div class="flex gap-3 items-center">
            <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
            <h5>房型基本資訊</h5>
          </div>
          <div class="flex items-center gap-4">
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] bg-white rounded-lg">
              <span class="icon-ic_size text-primary-base"></span>
              <p class="text-title">24 坪</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] bg-white rounded-lg">
              <span class="icon-ic_bed text-primary-base"></span>
              <p class="text-title">1 張大床</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] bg-white rounded-lg">
              <span class="icon-ic_person text-primary-base"></span>
              <p class="text-title">2-4 人</p>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex gap-3 items-center">
            <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
            <h5>房間格局</h5>
          </div>
          <div class="w-full p-6 bg-white rounded-lg">
            <div class="w-[34.375rem] flex flex-wrap items-center gap-10">
              <div class="flex items-center gap-2">
                <span class="icon-ic_check text-primary-base"></span>
                <p>市景</p>
              </div>
              <div class="flex items-center gap-2">
                <span class="icon-ic_check text-primary-base"></span>
                <p>獨立衛浴</p>
              </div>
              <div class="flex items-center gap-2">
                <span class="icon-ic_check text-primary-base"></span>
                <p>客廳</p>
              </div>
              <div class="flex items-center gap-2">
                <span class="icon-ic_check text-primary-base"></span>
                <p>書房</p>
              </div>
              <div class="flex items-center gap-2">
                <span class="icon-ic_check text-primary-base"></span>
                <p>樓層電梯</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex gap-3 items-center">
            <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
            <h5>房內設備</h5>
          </div>
          <div class="w-full p-6 bg-white rounded-lg">
            <div class="w-[40.625rem] flex flex-wrap gap-y-2 items-center gap-10">
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>平面電視</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>吹風機</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>冰箱</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>熱水壺</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>檯燈</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>衣櫃</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>除濕機</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>浴缸</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>書桌</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>音響</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex gap-3 items-center">
            <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
            <h5>備品提供</h5>
          </div>
          <div class="w-full p-6 bg-white rounded-lg">
            <div class="w-[40.625rem] flex flex-wrap gap-y-2 items-center gap-10">
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>衛生紙</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>拖鞋</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>沐浴用品</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>清潔用品</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>刮鬍刀</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>吊衣架</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>浴巾</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>刷牙用品</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>罐裝水</p>
              </div>
              <div class="flex items-center gap-2 min-w-[6.125rem]">
                <span class="icon-ic_check text-primary-base"></span>
                <p>梳子</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-6">
          <div class="flex gap-3 items-center">
            <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
            <h5>房間格局</h5>
          </div>
          <ul class="text-black-80">
            <li>1.入住時間為下午3點，退房時間為上午12點。</li>
            <li>2.如需延遲退房，請提前與櫃檯人員聯繫，視當日房況可能會產生額外費用。</li>
            <li>3.請勿在房間內抽煙，若有抽煙需求，可以使用設在酒店各樓層的專用吸煙區。</li>
            <li>4.若發現房間內的設施有損壞或遺失，將會按照價值收取賠償金。</li>
            <li>5.請愛惜我們的房間與公共空間，並保持整潔。</li>
            <li>6.如需額外的毛巾、盥洗用品或其他物品，請聯繫櫃檯。</li>
            <li>7.我們提供免費的Wi-Fi，密碼可以在櫃檯或是房間內的資訊卡上找到。</li>
            <li>8.請勿帶走酒店房內的物品，如有需要購買，請與我們的櫃檯人員聯繫。</li>
            <li>9.我們提供24小時櫃檯服務，若有任何需求或疑問，歡迎隨時詢問。</li>
            <li>10.為了確保所有客人的安全，請勿在走廊或公共區域大聲喧嘩，並遵守酒店的其他規定。</li>
          </ul>
        </div>
      </div>
      <div class="sticky flex flex-col gap-10 top-[2.5rem] w-[29.875rem] h-[38.75rem] bg-white rounded-[1.25rem] p-10 shadow-md">
        <div class="pb-4 border-b border-solid border-b-black-40 ">
          <h5>預訂房型</h5>
        </div>
        <div>
          <h2 class="mb-2">尊爵雙人房</h2>
          <p>享受高級的住宿體驗，尊爵雙人房提供給您舒適寬敞的空間和精緻的裝潢。</p>
        </div>
        <div>
          <app-date-picker class="mb-4"></app-date-picker>
          <div class="flex items-center justify-between">
            <p class="font-bold">人數</p>
            <div class="flex items-center gap-4">
              <div class="w-[3.5rem] h-[3.5rem] border border-black-40 rounded-full flex justify-center items-center">
                <span class="icon-ic_minus"></span>
              </div>
              <p>2</p>
              <div class="w-[3.5rem] h-[3.5rem] border border-black-40 rounded-full flex justify-center items-center">
                <span class="icon-ic_plus"></span>
              </div>
            </div>
          </div>
        </div>
        <h5 class="text-primary-base">NT$ 10,000</h5>
        <app-button>立即預訂</app-button>
      </div>
    </div>
  </div>
</div>
