<div *ngIf="roomDetail$ | async as room">
  <div class="py-[12.5rem] bg-primary-tint">
    <div class="flex items-center gap-2 mx-20 mb-[7.5rem] rounded-[1.25rem] overflow-hidden">
      <div class="w-1/2">
        <img [src]="room.imageUrl" alt="" />
      </div>
      <div class="w-1/2">
        <div class="flex flex-col gap-2">
          <div class="flex gap-2">
            <img class="w-1/2" [src]="room.imageUrlList[1]" alt="" />
            <img class="w-1/2" [src]="room.imageUrlList[2]" alt="" />
          </div>
          <div class="flex gap-2">
            <img class="w-1/2" [src]="room.imageUrlList[3]" alt="" />
            <img class="w-1/2" [src]="room.imageUrlList[4]" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="flex justify-between gap-6 relative">
        <div class="w-[46.625rem] flex flex-col gap-20">
          <div>
            <h1 class="mb-4">{{room.name}}</h1>
            <p>{{room.description}}</p>
          </div>
          <div class="flex flex-col gap-6">
            <div class="flex gap-3 items-center">
              <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
              <h5>房型基本資訊</h5>
            </div>
            <div class="flex items-center gap-4">
              <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] bg-white rounded-lg">
                <span class="icon-ic_size text-primary-base"></span>
                <p class="text-title">{{room.areaInfo}}</p>
              </div>
              <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] bg-white rounded-lg">
                <span class="icon-ic_bed text-primary-base"></span>
                <p class="text-title">{{room.bedInfo}}</p>
              </div>
              <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] bg-white rounded-lg">
                <span class="icon-ic_person text-primary-base"></span>
                <p class="text-title">2-{{room.maxPeople}} 人</p>
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-6">
            <div class="flex gap-3 items-center">
              <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
              <h5>房間格局</h5>
            </div>
            <div class="w-full p-6 bg-white rounded-lg">
              <div class="w-[34.375rem] flex flex-wrap items-center gap-10">
                @for(layout of room.layoutInfo;track $index){
                  @if(layout.isProvide){
                    <div class="flex items-center gap-2">
                      <span class="icon-ic_check text-primary-base"></span>
                      <p>{{layout.title}}</p>
                    </div>
                  }
                }
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-6">
            <div class="flex gap-3 items-center">
              <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
              <h5>房內設備</h5>
            </div>
            <div class="w-full p-6 bg-white rounded-lg">
              <div class="w-[40.625rem] flex flex-wrap gap-y-2 items-center gap-10">
                @for(facility of room.facilityInfo;track $index){
                  @if(facility.isProvide){
                    <div class="flex items-center gap-2 min-w-[6.125rem]">
                      <span class="icon-ic_check text-primary-base"></span>
                      <p>{{facility.title}}</p>
                    </div>
                  }
                }
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-6">
            <div class="flex gap-3 items-center">
              <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
              <h5>備品提供</h5>
            </div>
            <div class="w-full p-6 bg-white rounded-lg">
              <div class="w-[40.625rem] flex flex-wrap gap-y-2 items-center gap-10">
                @for(amenity of room.amenityInfo;track $index){
                  @if(amenity.isProvide){
                    <div class="flex items-center gap-2 min-w-[6.125rem]">
                      <span class="icon-ic_check text-primary-base"></span>
                      <p>{{amenity.title}}</p>
                    </div>
                  }
                }
              </div>
            </div>
          </div>

          <div class="flex flex-col gap-6">
            <div class="flex gap-3 items-center">
              <div class="w-1 h-6 relative bg-primary-base rounded-[0.75rem]"></div>
              <h5>訂房須知</h5>
            </div>
            <ul class="text-black-80">
              <li>1.入住時間為下午3點，退房時間為上午12點。</li>
              <li>2.如需延遲退房，請提前與櫃檯人員聯繫，視當日房況可能會產生額外費用。</li>
              <li>3.請勿在房間內抽煙，若有抽煙需求，可以使用設在酒店各樓層的專用吸煙區。</li>
              <li>4.若發現房間內的設施有損壞或遺失，將會按照價值收取賠償金。</li>
              <li>5.請愛惜我們的房間與公共空間，並保持整潔。</li>
              <li>6.如需額外的毛巾、盥洗用品或其他物品，請聯繫櫃檯。</li>
              <li>7.我們提供免費的Wi-Fi，密碼可以在櫃檯或是房間內的資訊卡上找到。</li>
              <li>8.請勿帶走酒店房內的物品，如有需要購買，請與我們的櫃檯人員聯繫。</li>
              <li>9.我們提供24小時櫃檯服務，若有任何需求或疑問，歡迎隨時詢問。</li>
              <li>10.為了確保所有客人的安全，請勿在走廊或公共區域大聲喧嘩，並遵守酒店的其他規定。</li>
            </ul>
          </div>
        </div>
        <div
          class="sticky flex flex-col gap-10 top-[2.5rem] w-[29.875rem] h-[38.75rem] bg-white rounded-[1.25rem] p-10 shadow-md"
        >
          <div class="pb-4 border-b border-solid border-b-black-40">
            <h5>預訂房型</h5>
          </div>
          <div>
            <h2 class="mb-2">{{room.name}}</h2>
            <p>{{room.description}}</p>
          </div>
          <div>
            <app-date-picker class="mb-4"></app-date-picker>
            <div class="flex items-center justify-between">
              <p class="font-bold">人數</p>
              <div class="flex items-center gap-4">
                <div
                  class="w-[3.5rem] h-[3.5rem] border border-black-40 rounded-full flex justify-center items-center cursor-pointer"
                  (click)="changeTotlaPeople('sub',room.maxPeople)"
                >
                  <span class="icon-ic_minus"></span>
                </div>
                <p>{{ totlePeople() }}</p>
                <div
                  class="w-[3.5rem] h-[3.5rem] border border-black-40 rounded-full flex justify-center items-center cursor-pointer"
                  (click)="changeTotlaPeople('add', room.maxPeople)"
                >
                  <span class="icon-ic_plus"></span>
                </div>
              </div>
            </div>
          </div>
          <h5 class="text-primary-base">NT$ {{room.price * (totalDate() || 1) | number: '1.0-0'}}</h5>
          <app-button [disabled]="!datePickerService.selectSuccess()" (clickEvent)="routerPage()">立即預訂</app-button>
        </div>
      </div>
    </div>
  </div>
</div>
