<div class="banner flex justify-center items-center">
  <div class="flex items-center gap-20 absolute z-10">
    <div class="w-[31.25rem] lineargradient-border text-primary-base pb-10">
      <h2 class="mb-2">享樂酒店</h2>
      <h5>Enjoyment Luxury Hotel</h5>
    </div>
    <h1 class="text-white">客房旅宿</h1>
  </div>
  <div class="flex gap-2 absolute bottom-8 left-[50%] translate-x-[-50%] z-10">
    <div style="width: 60px; height: 4px; background: #bf9d7d; border-radius: 100px"></div>
    <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
    <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
    <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
    <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
  </div>
</div>
<section class="bg-[#F7F2EE] py-[7.5rem]">
  <div class="container">
    <div class="mb-20">
      <h6 class="text-black-80 mb-4">房型選擇</h6>
      <p class="text-[3rem] leading-[1.2] text-primary-base font-bold">各種房型，任您挑選</p>
    </div>
    <div class="flex flex-col gap-12">
      <div class="flex rounded-[1.25rem] overflow-hidden">
        <div class="w-[773px] max-h-[457px] relative">
          <img src="/assets/images/desktop/room2-1.png" alt="" />
          <div class="w-full flex items-center justify-between absolute top-[50%] translate-y-[-50%] px-6">
            <div class="flex justify-center items-center w-[3.5rem] h-[3.5rem] bg-white rounded-full">
              <span class="icon-ic_left"></span>
            </div>
            <div class="flex justify-center items-center w-[3.5rem] h-[3.5rem] bg-white rounded-full">
              <span class="icon-ic_right"></span>
            </div>
          </div>
          <div class="flex gap-2 absolute bottom-6 left-[50%] translate-x-[-50%] z-10">
            <div style="width: 60px; height: 4px; background: #bf9d7d; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
          </div>
        </div>
        <div class="w-[523px] p-10 bg-white">
          <div class="mb-10">
            <h2 class="mb-2">尊爵雙人房</h2>
            <p>享受高級的住宿體驗，尊爵雙人房提供給您舒適寬敞的空間和精緻的裝潢。</p>
          </div>
          <div class="flex items-center gap-4 mb-10">
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_size text-primary-base"></span>
              <p class="text-title">24 坪</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_bed text-primary-base"></span>
              <p class="text-title">1 張大床</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_person text-primary-base"></span>
              <p class="text-title">2-4 人</p>
            </div>
          </div>
          <div class="lineargradient-border mb-10"></div>
          <div class="flex justify-between items-center gap-4 py-[0.84375rem] text-primary-base">
            <h5>NT$ 10,000</h5>
            <span class="icon-ic_arrow_right"></span>
          </div>
        </div>
      </div>

      <div class="flex rounded-[1.25rem] overflow-hidden">
        <div class="w-[773px] max-h-[457px] relative">
          <img src="/assets/images/desktop/room3-1.png" alt="" />
          <div class="w-full flex items-center justify-between absolute top-[50%] translate-y-[-50%] px-6">
            <div class="flex justify-center items-center w-[3.5rem] h-[3.5rem] bg-white rounded-full">
              <span class="icon-ic_left"></span>
            </div>
            <div class="flex justify-center items-center w-[3.5rem] h-[3.5rem] bg-white rounded-full">
              <span class="icon-ic_right"></span>
            </div>
          </div>
          <div class="flex gap-2 absolute bottom-6 left-[50%] translate-x-[-50%] z-10">
            <div style="width: 60px; height: 4px; background: #bf9d7d; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
          </div>
        </div>
        <div class="w-[523px] p-10 bg-white">
          <div class="mb-10">
            <h2 class="mb-2">景觀雙人房</h2>
            <p>景觀雙人房擁有絕美的高雄市景觀，讓您在舒適的環境中欣賞城市之美。</p>
          </div>
          <div class="flex items-center gap-4 mb-10">
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_size text-primary-base"></span>
              <p class="text-title">28 坪</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_bed text-primary-base"></span>
              <p class="text-title">1 張大床</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_person text-primary-base"></span>
              <p class="text-title">2-4 人</p>
            </div>
          </div>
          <div class="lineargradient-border mb-10"></div>
          <div class="flex justify-between items-center gap-4 py-[0.84375rem] text-primary-base">
            <h5>NT$ 10,000</h5>
            <span class="icon-ic_arrow_right"></span>
          </div>
        </div>
      </div>

      <div class="flex rounded-[1.25rem] overflow-hidden">
        <div class="w-[773px] max-h-[457px] relative">
          <img src="/assets/images/desktop/room4-1.png" alt="" />
          <div class="w-full flex items-center justify-between absolute top-[50%] translate-y-[-50%] px-6">
            <div class="flex justify-center items-center w-[3.5rem] h-[3.5rem] bg-white rounded-full">
              <span class="icon-ic_left"></span>
            </div>
            <div class="flex justify-center items-center w-[3.5rem] h-[3.5rem] bg-white rounded-full">
              <span class="icon-ic_right"></span>
            </div>
          </div>
          <div class="flex gap-2 absolute bottom-6 left-[50%] translate-x-[-50%] z-10">
            <div style="width: 60px; height: 4px; background: #bf9d7d; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
          </div>
        </div>
        <div class="w-[523px] p-10 bg-white">
          <div class="mb-10">
            <h2 class="mb-2">豪華雅緻房</h2>
            <p>享受高級的住宿體驗，尊爵雙人房提供給您舒適寬敞的空間和精緻的裝潢。</p>
          </div>
          <div class="flex items-center gap-4 mb-10">
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_size text-primary-base"></span>
              <p class="text-title">36 坪</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_bed text-primary-base"></span>
              <p class="text-title">2 張大床</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_person text-primary-base"></span>
              <p class="text-title">2-4 人</p>
            </div>
          </div>
          <div class="lineargradient-border mb-10"></div>
          <div class="flex justify-between items-center gap-4 py-[0.84375rem] text-primary-base">
            <h5>NT$ 10,000</h5>
            <span class="icon-ic_arrow_right"></span>
          </div>
        </div>
      </div>

      <div class="flex rounded-[1.25rem] overflow-hidden">
        <div class="w-[773px] max-h-[457px] relative">
          <img src="/assets/images/desktop/room5-1.png" alt="" />
          <div class="w-full flex items-center justify-between absolute top-[50%] translate-y-[-50%] px-6">
            <div class="flex justify-center items-center w-[3.5rem] h-[3.5rem] bg-white rounded-full">
              <span class="icon-ic_left"></span>
            </div>
            <div class="flex justify-center items-center w-[3.5rem] h-[3.5rem] bg-white rounded-full">
              <span class="icon-ic_right"></span>
            </div>
          </div>
          <div class="flex gap-2 absolute bottom-6 left-[50%] translate-x-[-50%] z-10">
            <div style="width: 60px; height: 4px; background: #bf9d7d; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
            <div style="width: 32px; height: 4px; background: #f1eae4; border-radius: 100px"></div>
          </div>
        </div>
        <div class="w-[523px] p-10 bg-white">
          <div class="mb-10">
            <h2 class="mb-2">景觀尊榮家庭房</h2>
            <p>景觀尊榮家庭房不僅有寬敞的空間，還有絕美的市景視野，是帶給家庭最尊榮的待遇。</p>
          </div>
          <div class="flex items-center gap-4 mb-10">
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_size text-primary-base"></span>
              <p class="text-title">48 坪</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_bed text-primary-base"></span>
              <p class="text-title">2 張大床</p>
            </div>
            <div class="w-[6.0625rem] flex flex-col gap-2 px-4 py-[1.28125rem] border border-primary-40 rounded-lg">
              <span class="icon-ic_person text-primary-base"></span>
              <p class="text-title">2-4 人</p>
            </div>
          </div>
          <div class="lineargradient-border mb-10"></div>
          <div class="flex justify-between items-center gap-4 py-[0.84375rem] text-primary-base">
            <h5>NT$ 10,000</h5>
            <span class="icon-ic_arrow_right"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
