<p class="text-bigtitle">Typography</p>
<p class="text-bigtitle">Display Heading 100px B</p>
<h1 class="">H1. Heading 48px B</h1>
<h2>H2. Heading 40px B</h2>
<h3>H3. Heading 32px B</h3>
<h4>H4. Heading 24px B</h4>
<h5>H5. Heading 20px B</h5>
<h6>H6. Heading 16px B</h6>
<p class="text-title">Title 16px B</p>
<p class="text-subtitle">Subtitle 14px B</p>
<p class="text-body1">Body 16px R</p>
<p class="text-body2">Body 14px R</p>
<p class="text-tiny">Body 12px R</p>
<p class="text-bigtitle">Color System</p>
<div class="flex gap-1">
  <div class="w-10 h-10 bg-primary-dark"></div>
  <div class="w-10 h-10 bg-primary-base"></div>
  <div class="w-10 h-10 bg-primary-80"></div>
  <div class="w-10 h-10 bg-primary-60"></div>
  <div class="w-10 h-10 bg-primary-40"></div>
  <div class="w-10 h-10 bg-primary-tint"></div>
</div>
<div class="flex gap-1">
  <div class="w-10 h-10 bg-success-dark"></div>
  <div class="w-10 h-10 bg-success-base"></div>
  <div class="w-10 h-10 bg-success-20"></div>
  <div class="w-10 h-10 bg-success-10"></div>
</div>
<div class="flex gap-1">
  <div class="w-10 h-10 bg-info-dark"></div>
  <div class="w-10 h-10 bg-info-base"></div>
  <div class="w-10 h-10 bg-info-20"></div>
  <div class="w-10 h-10 bg-info-10"></div>
</div>
<div class="flex gap-1">
  <div class="w-10 h-10 bg-error-dark"></div>
  <div class="w-10 h-10 bg-error-base"></div>
  <div class="w-10 h-10 bg-error-20"></div>
  <div class="w-10 h-10 bg-error-10"></div>
</div>
<div class="flex gap-1">
  <div class="w-10 h-10 bg-black-bg"></div>
  <div class="w-10 h-10 bg-black"></div>
  <div class="w-10 h-10 bg-black-80"></div>
  <div class="w-10 h-10 bg-black-60"></div>
  <div class="w-10 h-10 bg-black-40"></div>
  <div class="w-10 h-10 bg-black-10"></div>
  <div class="w-10 h-10 bg-white"></div>
</div>

<span class="icon-ic_profile"></span>
<span class="icon-ic_bed"></span>
<span class="icon-ic_menu"></span>
<span class="icon-ic_arrow_right"></span>
<span class="icon-ic_close"></span>
<span class="icon-ic_arrow_left"></span>
<span class="icon-ic_person"></span>
<span class="icon-ic_right"></span>
<span class="icon-ic_up"></span>
<span class="icon-ic_down"></span>
<span class="icon-ic_left"></span>
<span class="icon-ic_check"></span>
<span class="icon-ic_size"></span>
<span class="icon-bi_line"></span>
<span class="icon-ic_luxurycar"></span>
<span class="icon-ic_train"></span>
<span class="icon-ic_car"></span>
<span class="icon-ic_instagram"></span>
<span class="icon-ic_line"></span>
