<header class="flex items-center justify-between px-20 py-6 bg-black">
  <img class="w-[12.25rem] h-[4.5rem]" src="./assets/images/desktop/logo.png" alt="" />
  <div  class="block text-white lg:hidden">
    <app-button class="text-white" [buttonType]="'ghost'" [rightIcon]="'menu'" [iconSize]="'md'" (clickEvent)="isOpenMenu = true"></app-button>
  </div>
</header>
<div class="bg-black h-screen relative overflow-x-hidden">
  <img class="w-full h-[11.75rem] absolute top-[4.5rem] right-0  z-10" src="./assets/images/desktop/line2.png" alt="">
  <div class="flex h-full items-center relative z-20">
    <div class="hidden w-[55%] h-full bg-center bg-cover bg-[url('./assets/images/desktop/register.png')] lg:block"></div>
    <div class="w-[26rem]  mx-auto">
      <p class="text-title text-primary-base mb-2">享樂酒店，誠摯歡迎</p>
      <h1 class="text-white mb-4">立即註冊</h1>
      <div class="flex justify-center mb-10">
        <app-stepper class="w-full" [stepArray]="stepperArray()" [currentStep]="currentStep()"></app-stepper>
      </div>
      @if (currentStep() === 1) {
        <form [formGroup]="formGroup" class="flex flex-col gap-4 mb-10">
          <app-input [formGroup]="formGroup" [name]="'email'" [type]="'email'" [formControlName]="'email'" class="text-white" [title]="'電子信箱'" [placeholder]="'hello@exsample.com'"></app-input>
          <app-input [formGroup]="formGroup" [name]="'password'" [type]="'password'" [formControlName]="'password'" class="text-white" [title]="'密碼'" [placeholder]="'請輸入密碼'"></app-input>
          <app-input [formGroup]="formGroup" [name]="'repeatPassword'" [type]="'password'" [formControlName]="'repeatPassword'" class="text-white" [title]="'確認密碼'" [placeholder]="'請再輸入一次密碼'"></app-input>
        </form>
        <app-button class="mb-4" [disabled]="formGroup.controls.email.invalid || formGroup.controls.password.invalid || formGroup.controls.repeatPassword.invalid" (clickEvent)="onNextStep()">下一步</app-button>
      } @else if(currentStep() === 2){
        <div class="flex flex-col gap-4 mb-10" [formGroup]="formGroup">
          <app-input [formGroup]="formGroup" [name]="'name'" [formControlName]="'name'" class="text-white" [title]="'姓名'" [placeholder]="'請輸入姓名'"></app-input>
          <app-input [formGroup]="formGroup" [name]="'phone'" [formControlName]="'phone'" class="text-white" [title]="'手機號碼'" [placeholder]="'請輸入手機號碼'"></app-input>
          <div>
            <p class="text-white font-bold mb-2">生日</p>
            <div class="flex gap-3">
              <app-select class="w-1/3" [formGroup]="formGroup" [name]="'year'" [formControlName]="'year'" [options]="yearList"></app-select>
              <app-select class="w-1/3" [formGroup]="formGroup" [name]="'month'" [formControlName]="'month'" [options]="monthList"></app-select>
              <app-select class="w-1/3" [formGroup]="formGroup" [name]="'day'" [formControlName]="'day'" [options]="dayList"></app-select>
            </div>
          </div>
          <div [formGroup]="formGroup.controls.address">
            <p class="text-white font-bold mb-2">地址</p>
            <div class="flex gap-2 mb-4">
              <app-select class="w-1/2" [formGroup]="formGroup.controls.address" [name]="'city'" [formControlName]="'city'" [options]="cityList"></app-select>
              <app-select class="w-1/2" [formGroup]="formGroup.controls.address" [name]="'zipcode'" [formControlName]="'zipcode'" [options]="regionList"></app-select>
            </div>
            <app-input [formGroup]="formGroup.controls.address" [name]="'detail'" [formControlName]="'detail'" class="text-white" [placeholder]="'請輸入詳細地址'"></app-input>
          </div>
          <app-checkbox [formControlName]="'isReaded'">我已閱讀並同意本網站個資使用規範</app-checkbox>
        </div>
        <app-button class="mb-4" [disabled]="this.formGroup.invalid || !this.formGroup.controls.isReaded.value" (clickEvent)="onSubmit()">完成註冊</app-button>
      }
      <div class="flex items-center gap-2">
        <p class="text-white">已經有會員了嗎？</p>
        <app-button [buttonType]="'text'" (click)="routerPage('/login')">立即登入</app-button>
      </div>
    </div>
  </div>
</div>

@if(isOpenMenu){
  <div class="flex items-center justify-center absolute w-full h-screen bg-black z-50 top-0 left-0 lg:hidden">
    <app-button class="absolute top-5 right-5 text-white" [buttonType]="'ghost'" [rightIcon]="'close'" [iconSize]="'md'" (clickEvent)="isOpenMenu = false"></app-button>
    <div class="w-full flex flex-col px-5 items-center gap-4">
      <app-button class="text-white" [buttonType]="'ghost'" (click)="routerPage('/rooms')">客房旅宿</app-button>
      <app-button class="text-white" [buttonType]="'ghost'" (click)="routerPage('/login')">會員登入</app-button>
      <app-button class="w-full" [buttonType]="'primary'" (click)="routerPage('/rooms')">立即訂房</app-button>
    </div>
  </div>
}
