<header class="flex items-center justify-between px-20 py-6 bg-black">
  <img class="w-[12.25rem] h-[4.5rem]" src="./assets/images/desktop/logo.png" alt="" />
  <div  class="block text-white lg:hidden">
    <app-button [buttonType]="'ghost'" [rightIcon]="'menu'" [iconSize]="'md'" (clickEvent)="isOpenMenu = true"></app-button>
  </div>
</header>
<div class="bg-black h-screen relative overflow-x-hidden">
  <!-- w-[67.5rem  translate-x-[250px]-->
  <img class="w-full h-[11.75rem] absolute top-[4.5rem] right-0  z-10" src="./assets/images/desktop/line2.png" alt="">
  <div class="flex h-full items-center relative z-20">
    <div class="hidden w-[55%] h-full bg-center bg-cover bg-[url('./assets/images/desktop/register.png')] lg:block"></div>
    <div class="w-[26rem] mx-auto">
      <p class="text-title text-primary-base mb-2">享樂酒店，誠摯歡迎</p>
      <h1 class="text-white mb-10">立即開始旅程</h1>
      <div class="flex flex-col gap-4 mb-10" [formGroup]="formGroup">
        <app-input [formGroup]="formGroup" [name]="'email'" [type]="'email'" [formControlName]="'email'" class="text-white" [title]="'電子信箱'" [placeholder]="'hello@exsample.com'"></app-input>
        <app-input class="text-white" [formGroup]="formGroup" [name]="'password'" formControlName="password" [type]="'password'" [title]="'密碼'" [placeholder]="'請輸入密碼'"></app-input>
        <div class="flex justify-between items-center">
          <app-checkbox formControlName="recordEmail">記住帳號</app-checkbox>
          <app-button [buttonType]="'text'">忘記密碼？</app-button>
        </div>
      </div>
      <app-button class="mb-10" [disabled]="formGroup.invalid" (clickEvent)="login()">會員登入</app-button>
      <div class="flex items-center gap-2 text-white">
        <p>沒有會員嗎？</p>
        <app-button [buttonType]="'text'" (click)="routerPage('/register')">前往註冊</app-button>
      </div>
    </div>
  </div>
</div>

@if(isOpenMenu){
  <div class="flex items-center justify-center absolute w-full h-screen bg-black z-50 top-0 left-0 lg:hidden">
    <app-button class="absolute top-5 right-5" [buttonType]="'ghost'" [rightIcon]="'close'" [iconSize]="'md'" (clickEvent)="isOpenMenu = false"></app-button>
    <div class="w-full flex flex-col px-5 items-center gap-4">
      <app-button [buttonType]="'ghost'" (click)="routerPage('/rooms')">客房旅宿</app-button>
      <app-button [buttonType]="'ghost'" (click)="routerPage('/login')">會員登入</app-button>
      <app-button class="w-full" [buttonType]="'primary'" (click)="routerPage('/rooms')">立即訂房</app-button>
    </div>
  </div>
}
